.page-title {
  display: block !important;
  text-align: center;
  margin-top: 20px;
}
.form-container {
  width: 400px;
  margin: auto;
}
.center-text {
  text-align: center;
}
.mobile {
  display: flex;

  min-width: 300px;
}
